<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>서울</key>
	<dict>
		<key>강동구</key>
		<array>
			<string>몰라</string>
		</array>
		<key>강서구</key>
		<array>
			<string>아도논</string>
		</array>
		<key>강북구</key>
		<array>
			<string>아마도?</string>
		</array>
		<key>강남구</key>
		<array>
			<string>전체</string>
			<string>개포동</string>
			<string>논현동</string>
			<string>대치동</string>
			<string>도곡동</string>
			<string>삼성동</string>
			<string>세곡동</string>
			<string>수서동</string>
			<string>신사동</string>
			<string>압구정동</string>
			<string>역삼동</string>
		</array>
		<key>관악구</key>
		<array>
			<string>이제는</string>
		</array>
		<key>광진구</key>
		<array>
			<string>되지 않을까?</string>
		</array>
		<key>구로구</key>
		<array>
			<string>글세유</string>
		</array>
		<key>금천구</key>
		<array>
			<string>몰라몰라</string>
		</array>
	</dict>
	<key>인천</key>
	<dict>
		<key>크옹</key>
		<array>
			<string>거랴랴랴</string>
		</array>
	</dict>
</dict>
</plist>
