<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>amanbo's sketch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>957F513C1C3E253B00DABDDD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>957F51501C3E253B00DABDDD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>957F515B1C3E253B00DABDDD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
