<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Teacher &amp; Student.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9D38C8BF1C58879800E5DE85</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9D38C8D31C58879800E5DE85</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9D38C8DE1C58879800E5DE85</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
