<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>musicsheetmanager_real.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2487F8051C4DFFE70070ABA7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2487F8191C4DFFE70070ABA7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2487F8241C4DFFE70070ABA7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
